@model TaskCruds.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemBalanceInSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemBalanceInSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemBalanceInStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemBalanceInStore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiredMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiredMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetMaterial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
