@model IEnumerable<TaskCruds.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemBalanceInSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemBalanceInStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DamageMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiredMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetMaterial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemBalanceInSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemBalanceInStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DamageMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiredMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetMaterial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
